.App {
  background: #eee;
  text-align: center;
}

.row {
  margin-top: 1rem;
}

.container-orange {
  background: orange;
}

.container-grey {
  background: #eee;
}

.container-border {
  border: 10px solid #fff;
}

.login-form {
  padding: 20px;
}

.formGroup {
  margin: 8px;
}
