.App {
  background: #eee;
  text-align: center;
}

.row {
  margin-top: 1rem;
}

.container-orange {
  background: orange;
}

.container-grey {
  background: #eee;
}

.container-border {
  border: 10px solid #fff;
}

.container .login-container {
  width: 40%;
  padding: 2%;
  text-align: center;
}

.formGroup {
  margin: 8px;
}